#result {
    font-size: 40px;
    font-weight: bold;
}

.color-indicator {
    width: 10px;
    height: 10px;
    background-color: blueviolet;
}

#canvas {
    text-align: center;
}

html {
    text-align: center;
}

table {
    margin-left: auto;
    margin-right: auto;
}


.color-indicator {
    width: 10px;
    height: 10px;
}

#result {
    font-size: 40px;
    font-weight: bold;
}

.p5Canvas {
    max-width: 600px;
    width: 100% !important;
    height: auto !important;
}